<nav class="navbar sticky-top navbar-expand-md"
     style="background-color: #37398b; color: aliceblue; margin-bottom: 30px"
>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" style="color: aliceblue">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['planets']" style="color: aliceblue">Planets</a>
      </li>
    </ul>
  </div>

  <div calss="text-right" *ngIf="isSearchBarVisible">
    <input style="border-radius: 9999em" type="text" placeholder="Search planet"
         (change)="onInputChange($event)"
         [(ngModel)]="planetName"
    >
  </div>
</nav>





