<mat-card class="planet-card" (click)="openPlanetPage()"
          *ngIf="isLoaded"
          [@mouseOn] = "isSelected ? 'selected': 'unselected'"
          (mouseenter)="mouseOn()"
          (mouseleave)="mouseOut()"
>
  <mat-card-content>
    <img mat-card-image class="planet_card_image" src="{{imageSrc}}" alt="{{planet.name}} image">
    <mat-card-title>{{planet.name}}</mat-card-title>
    <div class="vertical-align">
      <mat-icon>group</mat-icon>
      <span>{{planet.population}}</span>
    </div>
    <div class="vertical-align">
      <mat-icon>360</mat-icon>
      <span>{{planet.rotation_period}}</span>
    </div>
    <div class="vertical-align">
      <mat-icon >rotate_90_degrees_ccw</mat-icon>
      <span>{{planet.orbital_period}}</span>
    </div>
  </mat-card-content>
</mat-card>
