.planet-card {
  width: 200px;
  height: 240px;
  text-align: center;
}

.planet_card_image {
  max-height: 130px;
  max-width: 130px;
}

.vertical-align {
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
