<div style="text-align: center">
  <h1 mat-dialog-title>{{planet.name}}</h1>
  <div mat-dialog-content style="text-align: center">
    <img mat-card-image class="planet-page-img" src="../../assets/planet_img.svg" alt="{{planet.name}} image">
    <mat-list style="text-align: center">
<!--      <mat-list-item *ngFor="let field of planetAsObject">-->
<!--       {{field}}-->
<!--      </mat-list-item>-->
      <mat-list-item>
        <p>Diameter {{planet.diameter}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Population {{planet.population}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Orbital Period {{planet.orbitalPeriod}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Rotation Period {{planet.rotationPeriod}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Gravity {{planet.gravity}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Terrain {{planet.terrain}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Climate {{planet.climate}}</p>
      </mat-list-item>
      <mat-list-item>
        <p>Surface water {{planet.surfaceWater}}</p>
      </mat-list-item>

    </mat-list>
  </div>
</div>

